/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color:rgb(250,250,250);
    font-size: 1em;
    line-height: 1.4;
    cursor: 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #F8F6F6;
    text-shadow: none;
}

::selection {
    background:#F8F6F6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #F8F6F6;
    color: #F8F6F6;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: Kamilla;
  src: url(Kamilla_preview.otf);
  
}
@font-face {
  font-family: RB;
  src: url('RB.ttf');
}


a {
	text-decoration: none;
	color: black;
}

/*.flickertonic{
    font-size:100px;
    font-family: RB;
    text-align: center;
    line-height: 80px;
    margin-top: 330px;
    padding-bottom: 100px;
    overflow-x: hidden;
    overflow-y:hidden;
    color: #e6e6fa;
}*/

#flickertonic {
    position: fixed;
    font-size:70px;
    top:300px;
    left:30px;
    font-family: RB;
    text-align: center;
    line-height: 80px;
    overflow-x: hidden;
    overflow-y:hidden;
    color: #e6e6fa;
    z-index: 9999;
}


@media screen and (min-width: 600px) {
  #flickertonic {
    font-size:80px; 
    top:-20px;
    line-height: 180px;
    position: relative;
    text-align: center;


}
}

#header {
    color:white;
    font-size:35px;
    letter-spacing: 1px;
    line-height: 1.5;
	width: 400px;
	height: auto;
    overflow: hidden;
	position: fixed;
    top: 0;
    vertical-align: center;
    z-index: 9999;
}

@media screen and (min-width:600px){
    .header{
        width:180px;
    }
}

.text{
    color:white;
    position: absolute;
    font-size:50px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 90%;
    top: 150px;
    padding:3%;
}

.text a {
	float: right;
	padding-top: 30px;
}

.text a:hover {
	color:white;
}

#header img {
    display:block;
    height:400px;
	width:50%;
	height:auto;
    z-index:9999;

}

#container {
    background-color: #F1F4F6;
	width: 100%;
    height:630px;
	clear: right;
    padding-bottom:300px;
    overflow: hidden;
    z-index: 1;
	
}


@media screen and (min-width: 600px) {
  .container {
    width: 100%;
    height:20px;
    clear: right;
    overflow: hidden;
    z-index: 1;

}
}

#container2 {
    background-color: white;
    padding:100px;
    max-width: 1070px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    
}

#container2 .footeritem {
    width:100%;
    float: left;

}



@media screen and (min-width: 600px) {
  #container2 .footeritem {
    width:33.3%;
    float: left;

   /* padding:100px;*/
}
}


#container3 {
    background-color: #ADC2FF;
    width: 100%;
    clear: right;
    padding-bottom:300px;
    overflow: hidden;
    z-index: 1;
    
}

@media screen and (min-width: 600px) {
  .container3{
    background-color: #ADC2FF;
    width: 100%;;
    clear: right;
    overflow: hidden;
    z-index: 1;

}
}

.gradient {
    margin-top:0px;
	width: 100%;
	height: auto;
	display: block;
	position:absolute;
	overflow-x: hidden;
	z-index: 99;
}




.fader {
	opacity: 0;
	font-size: 280px;
	/* font-family: "Footlight MT Light"; */
	font-family: RB;
	text-align: center;
	line-height: 100%;
	padding-top: 10px;
	overflow-x: hidden;
    overflow-y:hidden;
	color: #e6e6fa;
}

img.fader {
	width: 500px;
	margin-left: 25%;

}

img.fader.double {
	float: left;
	width: 40%;

}



.image{
    width:100%;
    height:300px;
    position: relative;

}
.image-small{
    width:30%;
    margin:50px;
    display:inline-block;


}
.image-extrasmall{
    width:10%;
    margin:50px;
    display:inline-block;
    padding-top: 30px;

}

.image-large{
    width:100%;
    padding-top: 0px;

}

.image-large2{
    width:100%;
    padding-top: 50px;

}

.caption {
	font-size: 15px;
	font-family:"Century Gothic";
	text-transform: uppercase;
	letter-spacing: .15em;
	line-height: 120%;
	color: #000099;
	opacity:0;

	/* float:left; */
}

.caption:hover {
	opacity: 1;
}




#footer {
	width: auto;
	font-family: sans-serif;
    position:relative;
    margin-top: 9000px;

}



#footer ul {
	padding-top: 30px;
	list-style-type: none;
	font-size: 30px;
	margin-left: 10%;
	color: black;
    z-index: 9999;

}

#footer li {
	padding-right: 10%;
	clear: right;

}

#footer li:last-child {
	margin-right: 40%;
	text-align: right;
      background-color:#F8F6F6;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 * Cle
.invisible {
    visibility: hidden;
}

/*arfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width: 500px) {
	
	.fader {
		opacity: 0;
		font-size: 10em;
		text-align: center;
		padding-top: 10px;
		overflow-x: hidden;
		color: red;
	}
@media screen and (min-width: 600px) {
  .masthead {
    color: green;

}
}
	
	.caption {
		font-size: 20px;
		font-family:"Century Gothic";
		letter-spacing: .1em;
		line-height: 110%;
		color: #000099;
		/* float:left; */
	}
	
	#header img {
	    display:block;
	    height:auto;
		width:100%;
	    z-index:9999;
	
	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



.projectlinks{
    position: relative;
    display: block;
    width:100%;
    z-index: 999;

}

.projectlinks a{
    color:black;
    font-size: 13px;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    font-family: RB;
    text-align: left;
}

.projectlinks a:hover{
    
    text-decoration: underline;

}

.projectlinks a:active{
 color:black;


}
.projectlinks a:visited{
   color:black;


}


@media screen and (min-width: 600px) {
  .projectlinks a{
    text-align: left;
    font-size: 18px;
    display: block;
    margin-top:0px;
}
}
.extracontainer{
    position: relative; 
}

.extralinks{
   

}

.extralinks a{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 27px;
    padding-right:20px;
    font-family: RB;
    text-align: left;
    display:block;


}

.extralinks a:hover{
    text-decoration: underline;

}

.extralinks a:active{
    
}

.extralinks a:visited{
    
}


.projectsecondlink{
    font-size: 24px;
    font-family: RB;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    margin-top:40px;
    margin-left:-40px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    width:100%;
    font-color: white;
    z-index: 99999;
    text-decoration:none;
}


.projectsecondlink:hover::after{
    cursor: pointer;
   /* content:'→';*/
    display:block;
    content:'→→→';
    font-size: 24px;
    color:yellow;
    text-decoration:none;

}

.projectsecondlink:active{
    text-decoration: underline;


}
.projectsecondlink:visited{
    text-decoration: underline;


}

.other{
    display: inline;
    right:20px;
    top:50px;
    z-index: 99999;
    position: relative;
    padding:14px;
    border: white solid 3px;
    color:white;
    font-size: 18px;
    font-family: RB;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5px;
    padding:14px;
   
}

.play {
    position: absolute;
    top: 130px;
    right: 130px;
}
@media screen and (min-width: 600px) {
  .play {
    position: absolute;
    top: 30px;
    right: 0px;

  }
}



.other:hover{
    color:black;

}

.other:active{
    color:white;
}

.other:visited{
    color:white;
 
}

@media screen and (min-width: 600px) {
  .other {
    text-align: right;
    top:0px;
    display: inline;
    margin-right:10px;
    z-index: 99999;
    position: relative;
    padding:14px;
    border: white solid 3px;
    color:white;
    font-size: 14px;
    font-family: RB;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5px;
    padding:14px;
}
}
.projcontainer{
    width:100%;
    height:50px;
    
}

@media screen and (min-width: 600px) {
  .projcontainer {
    height:100px;
}
}

.projtitle{
    font-family: RB;
    font-size: 60px;
    color:black;
    /*margin: 300px -300px 0 0;*/
    margin-top:130px;
    text-align: center;
}

@media screen and (min-width: 600px) {
  .projtitle {
    font-family: RB;
    font-size: 6em;
    /*margin: 300px -300px 0 0;*/
    margin-top:30px;
    text-align: center;
}
}

.projdescription{
    font-family: RB;
    font-size: 30px;
    color:black;
    line-height: 35px;
    margin-top:30px;
    width:60%;
    text-align: left;
    padding-bottom:50px;
}

.navleft{
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: inline;
    width: 200px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: RB;
    
}

.leftlink{
    color: black;
    padding-left:10px;

}

.leftlink:hover{
    color:black;
    border-left:2px solid black;
}

.leftlink:active{
  color:black;
}

.leftlink:visited{
 
}

@media screen and (min-width: 600px) {
  .navleft {
}
}

.jcarousel{
margin-top:-210px;
}


.information{
    font-family: RB;
    font-size: 30px;
    color:black;
    line-height: 50px;
    margin-top:200px;
    width:80%;
    text-align: center;
    padding:20px;
}

@media screen and (min-width: 600px) {
  .information {
  	font-family: RB;
    font-size: 40px;
    color:black;
    line-height: 60px;
    margin-top:200px;
    width:90%;
    text-align: center;
    padding:50px;
}
}

.contact{
    font-family: RB;
    font-size: 40px;
    color:black;
    line-height:60px;
    margin-top:330px;
    width:100%;
    text-align: center;
    padding-bottom:50px;
}
