@font-face {
  font-family: RB;
  src: url('RB.ttf');
  
}

#header {
	width: 400px;
	height: 300px;
    overflow: hidden;
	position: fixed;
    top: 0;
    vertical-align: center;
    z-index: 9999;
}
#header img {
	width:50%;
	height:auto;
    z-index:9999;

}

@media screen and (min-width: 600px) {
  .header{
	height: auto;
    overflow: hidden;
	position: fixed;
    top: 0;
    vertical-align: center;
    display:block;
	width:30%;
	height:auto;
    z-index:9999;

	}
}

#container {
	width: 100%;
    height:auto;
	clear: right;
    overflow: hidden;
    z-index: 1;
  }



body {

}
div.code {
	background:rgba(0,0,0,0.65);
	padding:.5em 2em;

}
pre {
	font-size:12px;
	font-family:Courier;
	text-shadow:none;
	overflow:auto;
}

div.article {
	border-radius:1em;
	padding:1em 2em;
	background:rgba(0,0,0,0.5);
}
ul.checkmarks {
	list-style:none;
	padding:1em 2em;
	border-radius:1em;
}
ul.checkmarks li {
	font-size:14px;
	font-weight:bold;
	display:block;
	padding:1.5em 1.5em 2.5em;
    background:transparent url("./images/checkmark.png") 0 1.35em no-repeat;
    padding-left: 60px;
    border-bottom:3px dotted rgba(255,255,255,0.3);
    margin-bottom:1em;
}
ul.checkmarks li:last-child {
	border:none;
	margin-bottom:0;
	padding-bottom:0;
}
img#video {
	position:fixed;
	z-index:1;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
}
#overlay {
	position:fixed;
	z-index:2;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background:url('./images/grid_overlay.png');
}
#content {
	position:relative;
	z-index:2;
	width:66%;
	padding:4% 6%;
	margin:0 10%;
}
#footer {
	text-align:center;
}
#footer h1 a {
	border:none;
}
#footer h1 a img {
	position:relative;
	top:12px;
}

#lefttext{
	padding:40px;
	font-weight:normal;
	width:35%;
	height:300px;
	display: inline-block;
	position: relative;
	z-index: 999;
	font-size:28px;
	text-align: left;
	line-height:32px;
	color:white;
	letter-spacing: 2px;
}

#righttext{
	padding:50px;
	width:90%;
	height:200px;
	display: inline-block;
	position: relative;
	z-index: 999;
	font-size:80px;
	text-align: right;
	color:white;
	letter-spacing: 2px;


}


#centertext{
	height:300px;
	width: 65%;
	margin-left: 1%;
	margin-top: 400px;
	display: inline-block;
	position: relative;
	z-index: 999;
	font-size: 60px;
	line-height: 70px;
	text-align: left;
	color:white;
	letter-spacing: 2px;
	font-family: RB;
}

#collection{
	width:100%;
    
}
#viewcollection{
	width: 100px;
	text-align:center;
	position: relative;
	display: inline-block;
	margin-bottom:200px;
	margin-right:40px;
	background-color: yellow;
    color:red;
    font-size: 11px;
    font-family: RB;
    text-transform: uppercase;
    padding:20px;
    letter-spacing: 1px;
    z-index: 99999;
    border-radius: 110px;
}

#viewcollection:hover{
	
}
#viewcollection:active{
	
}
#viewcollection:visited{
	
}

.other{
    display: inline;
    right:20px;
    z-index: 99999;
    position: relative;
    padding:14px;
    border: white solid 3px;
    color:white;
    font-size: 14px;
    font-family: RB;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5px;
    text-decoration: none;
}

.play {
    position: absolute;
    top: 30px;
    right: 0px;
}


a.other:hover{
    color:black;

}

a.other:active{
    color:white;
}

a.other:visited{
    color:white;
 
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: white;
  display: none;
}

.window {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 100px;
  display: none;
  z-index: 9999;
  padding: 50px;
  border: black solid 3px;
  border-radius: 5px;
  text-align: center;
}

#dialog {
  width: 700px;
  height: 300px;
  font-family: RB, sans-serif;
  font-size: 2em;
  background: white;
  color: black;
}

#popupfoot {
  font-size: 3em;
  position: absolute;
  bottom: 0px;
  width: auto;
  right: 20px;
  padding: 30px;
}

a.close.agree {
	text-decoration: none;
	color: black;
	}


