body{
    background-color:blue;
}

#wrapper {
    width:100vw;
    height: auto;


}
.jcarousel-wrapper {
    margin: 30px auto;
    position: relative;
    width: 90vw;
    /*height: 100px;*/


}


/** Carousel **/

.jcarousel {
    position: relative;
    overflow-x: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    width: 10vw;
    height: 10vw;
    text-align: center;
    color: white;
    text-decoration: none;
    font: 5em Arial, sans-serif;

}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block; 
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;

}

.jcarousel-pagination a.active {

}
